.movie {
  background-color: #fff;

  &__header {
    background-position: left calc((50vw - 170px) - 340px) top;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    color: #fff;

    &--bg {
      background-image: linear-gradient(
        to bottom right,
        rgba(31.5, 31.5, 31.5, 1),
        rgba(31.5, 31.5, 31.5, 0.84)
      );
    }

    &--h1 {
      font-size: 2.8rem;
      color: #fff;
      margin: 0;
      padding: 2rem 0 0 0;
    }

    &--newline a {
      text-decoration: none;
      color: #fff;
    }

    &--tagline {
      font-size: 1.8rem;
      color: #ddd;
      padding: 2rem 0 0 0;
      font-style: italic;
    }
  }

  &__details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    padding: 4rem;

    &--poster {
      img {
        min-width: 30rem;
        width: 30rem;
        height: 45rem;
        border-radius: 3%;
      }
    }

    &--overview {
      flex: 1;
      padding: 0 4rem;
      text-align: left;

      h2 {
        font-size: 2.4rem;
        margin: 0;
        padding: 2rem 0 0 0;
      }

      p {
        font-size: 1.6rem;
      }
      button {
        padding: 3rem 3rem 1rem 3rem;
      }
    }
  }

  &__credits {
    width: 80%;
    margin: 0 auto;

    &--cast {
      font-weight: 600;
      font-size: 2em;
      margin: 2rem 0 2rem 0;
      border-bottom: 1px solid rgba(#999, 0.7);
      & a:link {
        text-decoration: none;
        color: #666;
        font-size: 1.6rem;
        padding-left: 1rem;
      }
    }
  }

  &__actor {
    &--link {
      &:link {
        font-weight: 700;
        font-size: 1.25rem;
        text-decoration: none;
        color: #000;
      }
      &:hover {
        color: #999;
      }
      &:visited,
      :active {
        color: #333;
      }
    }
    &--character {
      font-size: 1.2rem;
    }
    &--img-link {
      flex: 1;
    }
  }

  &__actors {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }

  &__actorCard {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin: 10px 4px 10px 10px;
    border: 1px solid rgba(#999, 0.5);
    padding-bottom: 10px;
    border-radius: 1rem;
    overflow: hidden;
    background-color: rgba(#ddd, 0.2);
    transition: all 0.5s;
    transform: translateX(0);

    &:active {
      transform: translateX(-100%);
    }
    &:hover {
      transform: translateY(-2%);
      cursor: pointer;
    }
    a,
    & p {
      width: 13.8rem;
    }
  }

  &__crewCard {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-basis: 49%;
    height: 5rem;
    margin: 4px 4px 4px 4px;
    border: 1px solid #ddd;
    background-color: rgba(#eee, 0.2);
    text-align: center;
    flex: 1;
    transition: all 0.5s;
    transform: translateX(0);

    &:active {
      transform: translateX(-100%);
    }
    &:hover {
      transform: translateY(-5%);
      cursor: pointer;
    }

    & p {
      width: 10rem;
      color: #666;
    }
    & a {
      width: 10rem;
      text-decoration: none;
      color: #000;
      font-weight: 600;
      font-size: 1.2rem;
    }

    & img {
      height: 4rem;
      width: auto;
      display: block;
    }
  }

  &__showMoreButton {
    margin: 2rem 50%;
    transform: translateX(-50%);
    padding: 1rem 3rem;
    width: 20rem;
    border-radius: 1rem;
    border: 1px solid rgba(#000000, 0.2);
    font-size: 1.6rem;
    font-weight: 600;

    &:hover {
      background-color: #ddd;
      transition: all 0.2s;
    }
  }

  &__footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 80%;
    &--info {
      border-bottom: 1px solid #999999b3;
      margin: 2rem 0;
      font-size: 2em;
      font-weight: 600;
      width: 100%;
      display: inline-block;
    }
    & p {
      font-size: 16px;
      margin: 0.5rem 0;
      width: 50%;
    }
    &--release-date,
    &--categories,
    &--homepage,
    &--production-countries,
    &--production-companies,
    &--revenue,
    &--runtime,
    &--popularity,
    &--budget {
      font-weight: bold;
    }
    &--categories a,
    &--homepage {
      color: #007bff;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
